
.logoperro{
	width: 25%;
}

.carousel .carousel-item {
    height: 300px;
  }
  
.carousel-item img 
{
    height: 300px;
	padding-bottom: 0px;
}


#carruselactive{
	height: 300;
	background: #3456aa;
}

.carousel-caption.d-none.d-md-block .h5carru{
	text-shadow: 1px 1px rgb(69, 69, 69);
}

.buttonClass {
	font-size:20px;
	font-family:Trebuchet MS;
	margin-top: 15px;
	width:200px;
	height:51px;
	border-width:1px;
	color:#fff;
	border-color:#ffffff;
	font-weight:bold;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	box-shadow:inset 0px 50px 0px -24px rgba(243, 169, 53, 1);
	text-shadow:inset 0px 1px 0px rgba(8, 8, 8, 1);
	background:rgba(238, 160, 30, 1);
	margin-left: 30px;
  }

  .buttonClass:hover {
	color: whitesmoke;
	background: rgba(236, 151, 62, 1)
  }




.btn-rounded {
  border-radius: 10rem;
}
.container-fluid.botones{
	background: rgb(250, 250, 250);
	padding-bottom: 20px;
}

#tiendaonline
{
margin-bottom: 15px;
font-weight: 700;
font-size: 30px;
color:rgb(52, 86, 170);
}

#ColCat
{
  color: white;
}

.BarraArriba
{
  background-color: rgb(52, 86, 170);

}

.btn-warning {
  color: #000;
  background-color: rgb(52, 86, 170)!important;
  border-color: rgb(52, 86, 170)!important;
}



/*Contactanos y como comprar CSS*/
#CajaComoCompra
{
	background-color: rgb(62, 83, 169);
	border-radius: 30px;
	border-color: #00AF8E;
	padding: 30px;
	color: white;
	box-shadow: 2px 2px 4px #000;
}

.formFormulario 
{
	margin: 0px auto;
	color: white;
	width: 450px; 
	height: 424px; 
	-webkit-border-radius: 8px/7px; 
	-moz-border-radius: 8px/7px; 
	border-radius: 8px/7px; 
	background-color: #3e53a9; 
	-webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
	-moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
	box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
	border: solid 1px #cbc9c9;
}



/*Pie de pagina */
a
{
  text-decoration: none !important;

}

.footer h4 {
  margin: 0px 0px 20px;
  text-transform: uppercase;
  font-size: 14pt;
  color: rgb(34, 55, 108);
  padding-bottom: 0px;
  font-weight: 700;
}

.footer a.btn-mas-articulos {
  background-color: #fff;
  text-transform: uppercase;
  padding: 10px 20px;
  border: 2px solid rgb(52, 86, 170);
  font-size: 14px;
  color: #575757 !important;
  border-radius: 10px;
  text-align: center;
  margin-top: 20px!important;
  font-family: 'Poppins', sans-serif;
}

.footer p {
  color: #00AF8E;
  text-transform: uppercase;
  margin: 30px 0 20px;
  font-size: 15px;
  font-weight: 700;
}

.footer .list-inline-item {
  padding-bottom: 15px;
  margin-bottom: 10px;
  display: inline-block;
}

.footer ul li a {
  font-family: 'Poppins', sans-serif;
  line-height: 22px;
  color: #5f5f5f;
  font-size: 13px;
  padding: 0px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
}

.footer ul {
  list-style: none !important;
}

/*Fin pie de pagina */
/*------------------------------------------------*/
/*Estilos login*/
#loginbody {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* css de login */

#bodylogin {
  height: 100%;
}

#bodylogin1 {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/*Fin estilos login */

/* css carrito */
#BarraArriba
{
  background-color: rgb(52, 86, 170);

}

#Compra
{
    float: left 10%;
}
/* fin css carrito */

/*Carrusel Cartas*/
.CarruselCartas h2 {
	color: #000;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0 80px;
}
.CarruselCartas h2 b {
	color: #ff6200;
}
.CarruselCartas h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	background: rgba(0, 0, 0, 0.2);
	left: 0;
	right: 0;
	bottom: -20px;
}
.CarruselCartas .carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.CarruselCartas .carousel .carousel-item {
	min-height: 330px;
	text-align: center;
	overflow: hidden;
}
.CarruselCartas .carousel .carousel-item .img-box {
	height: 160px;
	width: 100%;
	position: relative;
}
.CarruselCartas .carousel .carousel-item img {	
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.CarruselCartas .carousel .carousel-item h4 {
	font-size: 18px;
	margin: 10px 0;
}
.CarruselCartas .carousel .carousel-item .btn {
	color: #333;
	border-radius: 0;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	background: none;
	border: 1px solid #ccc;
	padding: 5px 10px;
	margin-top: 5px;
	line-height: 16px;
}
.CarruselCartas .carousel .carousel-item .btn:hover, .carousel .carousel-item .btn:focus {
	color: #fff;
	background: #000;
	border-color: #000;
	box-shadow: none;
}
.CarruselCartas .carousel .carousel-item .btn i {
	font-size: 14px;
	font-weight: bold;
	margin-left: 5px;
}
.CarruselCartas .carousel .thumb-wrapper {
	text-align: center;
}
.CarruselCartas .carousel .thumb-content {
	padding: 15px;
}
.CarruselCartas .carousel-control-prev, .CarruselCartas .carousel-control-next {
	height: 100px !important;
	width: 40px !important;
	background: none !important;
	margin: auto 0 !important;
	background: rgba(0, 0, 0, 0.2) !important;
}
.CarruselCartas .carousel-control-prev i, .CarruselCartas .carousel-control-next i {
	font-size: 30px;
	position: absolute;
	top: 50%;
	display: inline-block;
	margin: -16px 0 0 0;
	z-index: 5;
	left: 0;
	right: 0;
	color: rgba(0, 0, 0, 0.8);
	text-shadow: none;
	font-weight: bold;
}
.CarruselCartas .carousel-control-prev i {
	margin-left: -3px;
}
.CarruselCartas .carousel-control-next i {
	margin-right: -3px;
}
.CarruselCartas .carousel .item-price {
	font-size: 13px;
	padding: 2px 0;
}
.CarruselCartas .carousel .item-price strike {
	color: #999;
	margin-right: 5px;
}
.CarruselCartas .carousel .item-price span {
	color: #86bd57;
	font-size: 110%;
}	
.CarruselCartas .carousel .carousel-indicators {
	bottom: -50px;
}
.CarruselCartas .carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 4px;
	border-radius: 50%;
	border-color: transparent;
	border: none;
}
.CarruselCartas .carousel-indicators li {	
	background: rgba(0, 0, 0, 0.2);
}
.CarruselCartas .carousel-indicators li.active {	
	background: rgba(0, 0, 0, 0.6);
}
.CarruselCartas .star-rating li {
	padding: 0;
}
.CarruselCartas .star-rating i {
	font-size: 14px;
	color: #ffc000;
}
/*Fin Carrusel Cartas*/

/*Redes sociales*/
#redessoc .col-4
{
	padding-left: 0px;
	padding-right: 0px;
}

/*css membresia*/
.membership-pricing-table {
	width: 920px
  }
  
  .membership-pricing-table table .icon-no,.membership-pricing-table table .icon-yes {
	font-size: 22px
  }
  
  .membership-pricing-table table .icon-no {
	color: #a93717
  }
  
  .membership-pricing-table table .icon-yes {
	color: #209e61
  }
  
  .membership-pricing-table table .plan-header {
	text-align: center;
	font-size: 48px;
	border: 1px solid #e2e2e2;
	padding: 25px 0
  }
  
  .membership-pricing-table table .plan-header-free {
	background-color: #eee;
	color: #555
  }
  
  .membership-pricing-table table .plan-header-blue {
	color: #fff;
	background-color: #61a1d1;
	border-color: #3989c6
  }
  
  .membership-pricing-table table .plan-header-standard {
	color: #fff;
	background-color: #ff9317;
	border-color: #e37900
  }
  
  .membership-pricing-table table td {
	text-align: center;
	width: 15%;
	padding: 7px 10px;
	background-color: #fafafa;
	font-size: 14px;
	-webkit-box-shadow: 0 1px 0 #fff inset;
	box-shadow: 0 1px 0 #fff inset
  }
  
  .membership-pricing-table table,.membership-pricing-table table td {
	border: 1px solid #ebebeb
  }
  
  .membership-pricing-table table tr td:first-child {
	background-color: transparent;
	text-align: right;
	width: 24%
  }
  
  .membership-pricing-table table tr td:nth-child(5) {
	background-color: #FFF
  }
  
  .membership-pricing-table table tr:first-child td,.membership-pricing-table table tr:nth-child(2) td {
	-webkit-box-shadow: none;
	box-shadow: none
  }
  
  .membership-pricing-table table tr:first-child th:first-child {
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: #e2e2e2
  }
  
  .membership-pricing-table table tr:first-child th .pricing-plan-name {
	font-size: 22px
  }
  
  .membership-pricing-table table tr:first-child th .pricing-plan-price {
	line-height: 35px
  }
  
  .membership-pricing-table table tr:first-child th .pricing-plan-price>sup {
	font-size: 45%
  }
  
  .membership-pricing-table table tr:first-child th .pricing-plan-price>span {
	font-size: 30%
  }
  
  .membership-pricing-table table tr:first-child th .pricing-plan-period {
	margin-top: -7px;
	font-size: 25%
  }
  
  .membership-pricing-table table .header-plan-inner {
	position: relative
  }
  
  .membership-pricing-table table .recommended-plan-ribbon {
	box-sizing: content-box;
	background-color: #dc3b5d;
	color: #FFF;
	position: absolute;
	padding: 3px 6px;
	font-size: 11px!important;
	font-weight: 500;
	left: -6px;
	top: -22px;
	z-index: 99;
	width: 100%;
	-webkit-box-shadow: 0 -1px #c2284c inset;
	box-shadow: 0 -1px #c2284c inset;
	text-shadow: 0 -1px #c2284c
  }
  
  .membership-pricing-table table .recommended-plan-ribbon:before {
	border: solid;
	border-color: #c2284c transparent;
	border-width: 6px 0 0 6px;
	bottom: -5px;
	content: "";
	left: 0;
	position: absolute;
	z-index: 90
  }
  
  .membership-pricing-table table .recommended-plan-ribbon:after {
	border: solid;
	border-color: #c2284c transparent;
	border-width: 6px 6px 0 0;
	bottom: -5px;
	content: "";
	right: 0;
	position: absolute;
	z-index: 90
  }
  
  .membership-pricing-table table .plan-head {
	box-sizing: content-box;
	background-color: #ff9c00;
	border: 1px solid #cf7300;
	position: absolute;
	top: -33px;
	left: -1px;
	height: 30px;
	width: 100%;
	border-bottom: none
  }
  /*--fin css membresia--*/
  /*----------------------------------------*/
  /*--Inicio css Registro email--*/

	/*Caja de color que envuelve al form*/
	.formbox {
		text-align: center; 
		margin: 220px auto;
		width: 450px; 
		height: 434px; 
		-webkit-border-radius: 8px/7px; 
		-moz-border-radius: 8px/7px; 
		border-radius: 8px/7px; 
		background-color: #3456aa; 
		-webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
		-moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
		box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
		border: solid 1px #cbc9c9;
	}
	.formbox1 { 
		margin: 220px auto;
		width: 450px; 
		height: 464px; 
		-webkit-border-radius: 8px/7px; 
		-moz-border-radius: 8px/7px; 
		border-radius: 8px/7px; 
		background-color: #3456aa; 
		-webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
		-moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
		box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
		border: solid 1px #cbc9c9;
  	}

	/*form de registro 1 y 2*/
  .formRegistro1 { 
	width: 450px;
	margin: 5% auto;
  }

	/*Fondo para el body para la seccion de registro*/
  .bodyRegistro1 { 
	background: #f8f9fa;
	font-family: 'Lato', sans-serif;
	color: #f8f9fa;

  }

	/*caja del p titulo del form*/
  .headerRegistro1 {
	font-size: 35px;
	text-transform: uppercase;
	letter-spacing: 5px;
  }
  
	/*texto bajo titulo del form*/
  .descriptionRegistro1 {
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 1.3em;
	margin: -2px 0 45px;
  }
  
	/*div que contiene caja de input ambas*/
  .inputRegistro1 {
	align-items: center;
  }
  
  /*Configuracion de estilos de cajas de dentro del form // incluye el submit*/
  .buttonRegistro1 {
	height: 44px;
	
  }
  /*Configuracion de estilos de ambas cajas de input*/
  .textbox {
	width: 75%;
	background: #fdfcfb;
	font-family: inherit;
	color: #737373;
	letter-spacing: 1px;
	text-indent: 5%;
	border-style: solid;
	border-radius: 5px;
  }
  
/* setea el border width para todas las cajas de mail(login, registro1) */
  .emailbox {
	border-width: 5px;
  }
  #password{
	border: none;
  }
  
  #submit {
	width: 25%;
	height: 46px;
	background: #FF6B00;
	font-family: inherit;
	font-weight: bold;
	color: inherit;
	letter-spacing: 1px;
	border-radius: 5px;
	cursor: pointer;
	transition: background .3s ease-in-out;
	border: none;
  }
  #submit2 {  /*Submit de pagina registro 2 (submit password)*/
	width: 50%;
	height: 46px;
	background: #FF6B00;
	font-family: inherit;
	font-weight: bold;
	color: inherit;
	letter-spacing: 1px;
	border-radius: 5px;
	cursor: pointer;
	transition: background .3s ease-in-out;
	border: none;
  }
  #submitOk{
	width: 25%;
	height: 46px;
	background: #FF6B00;
	font-family: inherit;
	font-weight: bold;
	color: inherit;
	letter-spacing: 1px;
	border-radius: 5px;
	cursor: pointer;
	transition: background .3s ease-in-out;
	border: none; 
  }
	
  #submit:hover {
	background: #ff9e00;
  }
	
  /* input:focus {
	outline: 0;
	outline: 2px solid #ff9e00;
	box-shadow: 0 0 2px #ff9e00;
  } */
  
/*	bloque de check your email
	boton inicia sesion */
   .hyperlinkSinEstilo{
	color: #f8f9fa;
}
	.hyperlinkSinEstilo:hover{
	color: #FF6B00;
}

