<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <!--  This file has been downloaded from bootdey.com @bootdey on twitter -->
  <!--  All snippets are MIT license http://bootdey.com/license -->
  <title>Perfil</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="container">
    <div class="row flex-lg-nowrap">
      <div class="col-12 col-lg-auto mb-3" style="width: 200px;">
        <div class="card p-3 border-primary">
          <div class="e-navlist e-navlist--active-bg">
            <ul class="nav">
              <li class="nav-item"><a class="nav-link px-2 active" href="#"><i
                    class="fa fa-fw fa-bar-chart mr-1"></i><span>Perfil</span></a></li>
              <li class="nav-item"><a class="nav-link px-2" href="historialCompras.html"
                  target="__blank"><i class="fa fa-fw fa-th mr-1"></i><span>Historial</span></a></li>
              <li class="nav-item"><a class="nav-link px-2"
                  href="#" target="__blank"><i
                    class="fa fa-fw fa-cog mr-1"></i><span>Configuraciones</span></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="row">
          <div class="col mb-3 ">
            <div class="card border-primary">
              <div class="card-body">
                <div class="e-profile">
                  <ul class="nav nav-tabs">
                    <li class="nav-item"><a href="" class="active nav-link">Configuraciones</a></li>
                  </ul>
                  <div class="tab-content pt-3">
                    <div class="tab-pane active">
                      <form class="form" novalidate="">
                        <div class="row">
                          <div class="col">
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Nombre completo</label>
                                  <input class="form-control" type="text" name="name" placeholder="John Smith"
                                    value="">
                                </div>
                              </div>
                              <div class="col">
                                <div class="form-group">
                                  <label>Nombre de usuario</label>
                                  <input class="form-control" type="text" name="username" placeholder="johnny.s"
                                    value="">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Correo electrónico</label>
                                  <input class="form-control" type="text" placeholder="user@example.com">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Dirección de entrega</label>
                                  <input class="form-control" type="text" placeholder="Av falsa 123">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 col-sm-6 mb-3">
                            <div class="mb-2"><b>Cambiar contraseña</b></div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Contraseña</label>
                                  <input class="form-control" type="password" placeholder="••••••">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Nueva contraseña</label>
                                  <input class="form-control" type="password" placeholder="••••••">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Confirmar <span class="d-none d-xl-inline">contraseña</span></label>
                                  <input class="form-control" type="password" placeholder="••••••">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-sm-5 offset-sm-1 mb-3">
                            <div class="mb-2"><b>Sigamos en contacto</b></div>
                            <div class="row">
                              <div class="col">
                                <label>Notificaciones al correo</label>
                                <div class="custom-controls-stacked px-2">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="notifications-blog"
                                      checked="">
                                    <label class="custom-control-label" for="notifications-blog">Publicaciones online</label>
                                  </div>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="notifications-news"
                                      checked="">
                                    <label class="custom-control-label" for="notifications-news">Boletín informativo</label>
                                  </div>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="notifications-offers"
                                      checked="">
                                    <label class="custom-control-label" for="notifications-offers">Ofertas</label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col d-flex justify-content-end">
                            <button class="btn btn-primary" type="submit">Guardar cambios</button>
                          </div>
                        </div>
                      </form>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-3 mb-3">
            <div class="card mb-3 border-primary">
              <div class="card-body">
                <div class="px-xl-3">
                  <button class="btn btn-block btn-secondary">
                    <i class="fa fa-sign-out"></i>
                    <span>Cerrar sesión</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="card border-primary">
              <div class="card-body">
                <h6 class="card-title font-weight-bold">Soporte</h6>
                <button type="button" class="btn btn-primary">Contáctanos</button><br><br>
                <button type="button" class="btn btn-danger">Eliminar cuenta</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <style type="text/css">
    body {
      margin-top: 20px;
      background: #f8f8f8
    }
  </style>

  <script type="text/javascript">

  </script>
</body>

</html>